/* -----------------------------------------------------------*/
/* Login and Registration */
/*------------------------------------------------------------*/

.signup-register{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;    
}

.form{
   
    position: relative;
    z-index: 1;
    background: #fff;
    margin: 0 auto 100px;
    padding 45px;
    text-align: center;
}

.form-register{
     height: 500px;
     max-width: 500px;
}

.form-sign-in{
    height:300px;
    max-width: 500px;    
}

.login{
    padding-top: 15px;
}

.registration-form{
    padding-top: 15px;
    
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 80%;
    border:0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 80%;
    border: 0;
    padding: 15px;
    color: #fff;
    cursor: pointer;
}

.signup-register{
    margin-top: 60px;
    padding-top: 40px;
}

.form button:hover,
.form button:active {
    background: #43A047;
}

.form .message{
 
}

